.text-left {
  text-align: left !important;
}

.font-size-sm {
  font-size: small !important;
  color: gray !important;
}

.card-shadow {
  border: transparent !important;
  box-shadow: rgba(44, 107, 255, 0.1) 0px 20px 25px -5px,
    rgba(116, 128, 255, 0.04) 0px 10px 10px -5px !important;
}

.emp-card {
  margin-left: auto !important;
  margin-right: auto !important;
}

.card-img-top {
  width: 100%;
  height: 17vw;
  object-fit: cover;
}
