.profile-detail{
  width: 100%;
  height: 95vh;
  border-radius: 30px;
  border: 1px solid rgb(226, 226, 226);
  background-color: white;
  
}
.profile-pic{

  width: 200px;
  height: 200px;
  border-radius: 100%;
  
}
.profile-pic img{

  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  object-fit:cover;
}
.profile-detail h3{
font-weight: bold;
font-family: sans-serif;
margin-bottom: 0;

}
.profile-detail h6{
  color: gray;
}
.profile-detail p{
  color: rgb(156, 154, 154);
}
.content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.icon-background
{
  border-radius: 100%;
  background-color: black;
}
.color-pink{
  background-color: #FC5185;
}
.color-green{
  background-color: #99DDCC;
}
.color-blue{
  background-color: #769FCD;
}
.icon{
  color: #fff;
}
.button-icons{
  border:0;
  border-radius: 100%;
  height: 60px;
  width:60px;
}
